# Local helper files/scripts


# OS cruft
.DS_Store
Thumbs.db

# Build / dependency folders
node_modules/
dist/
build/
.venv/
__pycache__/
*.log

# Explicitly dis-allow the main project zip
project_6.zip
